<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}<title>{{ page.title }}</title>{% endif %}
    {% if page.tagline %}
    <meta name="description" content="{{ page.tagline }}"/>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print"/>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.tagline }}</h2>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <footer>
      <div class="container">
        <table style="vertical-align:middle; width:100%;">
          <tr>
            <td style="white-space:nowrap; width:1%;">
              Send feedback to <a href="mailto:feedback@sphaira.org">feedback@sphaira.org</a>.
            </td>
          </tr>
        </table>
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          try {
            var pageTracker = _gat._getTracker("{{ page.google }}");
            pageTracker._trackPageview();
          } catch(err) {}
        </script>
      </div>
    </footer>
  </body>
</html>
